.explanation {
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    margin-top: -3rem;
    font-family: "TitilliumWeb-Regular";
    color: #232437;
}

.about_text1 {
    text-align: center;
    font-size: 25px;
    font-family: 'TitilliumWeb-Regular';
    color: #232437;
}

.about_text2 {
    margin-top: -1rem;
    text-align: center;
    font-size: 30px;
    font-family: 'Archivo-SemiBold';
    color: #424567;
}

.no_split {
    white-space: nowrap;
}

a {text-decoration: none !important;}

html, body {
    height: 100%;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}

.align {
    margin-top: -6rem;
}

.total_div {
   height:98%;
}

.image_div {
    margin-top: 10rem;
    width: 40%;
    height: 30%;
    float: left;
}

.aline {
    width: 100%;
    margin: 10px auto;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(../public/font/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Jost-Italic-VariableFont_wght';
    src: url(../public/font/Jost-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Jost-VariableFont_wght';
    src: url(../public/font/Jost-VariableFont_wght.ttf) format('truetype');
}

/*new fonts*/
@font-face {
    font-family: 'Archivo-Medium';
    src: url(../public/font/Archivo-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo-MediumItalic';
    src: url(../public/font/Archivo-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo-Regular';
    src: url(../public/font/Archivo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo-SemiBold';
    src: url(../public/font/Archivo-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'RussoOne-Regular';
    src: url(../public/font/RussoOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: url(../public/font/ArchivoBlack-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'TitilliumWeb-Light';
    src: url(../public/font/TitilliumWeb-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url(../public/font/TitilliumWeb-Regular.ttf) format('truetype');
}