.explanation {
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    margin-top: -3rem;
}

.no_split {
    white-space: nowrap;
}

a {text-decoration: none !important;}

html, body {
    height: 100%;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Jost-VariableFont_wght';
}

.align {
    margin-top: -6rem;
}

.total_div {
   height:98%;
}

.image_div {
    margin-top: 10rem;
    width: 40%;
    height: 30%;
    float: left;
}

.aline {
    width: 100%;
    margin: 10px auto;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(../src/font/BebasNeue-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Jost-Italic-VariableFont_wght';
    src: url(../src/font/Jost-Italic-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Jost-VariableFont_wght';
    src: url(../src/font/Jost-VariableFont_wght.ttf) format('truetype');
}