.start_button {
    min-width: 320px;
    text-decoration: none;
    border-radius: 10rem;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 30px;
    color: white !important;
    border-color: transparent;
    background-color: #E9A451;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    white-space: nowrap;
    
}

.logo {
    width: 20rem;
    height: 5rem;
}

.nav_button {
    text-decoration: none;
    flex-basis: 5%;
    margin-left: 1rem;
    margin-top: 20px;
    color: black !important;
    vertical-align: middle;
    font-size: 25px;
}

 .player {
     background-color: hsla(268, 100%, 92%, 0.5);
 }

 .download_button{
    color: white !important;
    background-color: #E9A451;
    border-color: transparent;
    /* border-radius: 10rem; */
    font-size: 20px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

 }

 .select {
    color: white !important;
    background-color: #E9A451;
    border-color: transparent;
    border-radius: 10rem;    
 }

 