.music_list{
    width: 400px;
    float: right;

}

.video_player{
    float: left;
    margin-bottom: 10000px;
}


.frame_list{


    overflow: scroll;

    border:solid 1px green;

    height: 225px;

    width: 800px;

}

.frame_list img{
    width: 100px;
    height: 100px;

    /* position: relative; */
}